<div class="jumbotron">
    <h1>@System.Configuration.ConfigurationManager.AppSettings["clientBuild"]</h1>
    <br/>
    <p class="lead">This is a sample MVC app which uses OpenId Connect protocol to authenticate.</p>
    <p><a href="@Url.Action("About", "Home")"><i class="fa fa-lock"></i>&nbsp;Secure Area</a></p>
</div>

