<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <connectionStrings>
    <add name="IdSvr:StorageConnection" connectionString="[your Azure table storage connection string here]" />
  </connectionStrings>

  <appSettings>
    <add key="owin:AppStartup" value="AuthProxy.Startup" />
    <add key="log4net.Internal.Debug" value="true" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- Client Web Apps -->
    <add key="App1:ClientId" value="[App1 Client Id here]" />             <!--this should match oidc:ClientId setting in App1 config-->
    <add key="App1:ClientSecret" value="[App1 Client Secret here]" />     <!--this should match oidc:ClientSecret settgin in App1 config-->

    <add key="App2:ClientId" value="[App2 Client Id here]" />             <!--this should match oidc:ClientId setting in App2 config-->
    <add key="App2:ClientSecret" value="[App2 Client Secret]" />          <!--this should match oidc:ClientSecret setting in App2 config-->

    <add key="Api1:ClientId" value="[Api1 Client ID here]" />             <!--this should match oidc:ClientId setting in Api1 config-->
    <add key="Api1:ClientSecret" value="[Api1 Client Secret here]" />     <!--this should match oidc:ClientSecret setting in Api1 config-->

    <!-- Identity Server -->
    <add key="IdSvr:SiteName" value="IdentityServer IdSvr" />
    <add key="IdSvr:Scope" value="openid profile" />                      <!--these scopes have to include all of those in oidc:Scope of each app's config-->
    <add key="IdSvr:ResponseType" value="code id_token" />                <!--this has to match the oidc:ResponseType in each app's config-->
    <add key="IdSvr:externalIdPPrefix" value="Auth0" />
    <add key="IdSvr:EnableLocalLogin" value="true" />
    <add key="IdSvr:ExpireTimeSpanMinutes" value="2" />
    <add key="IdSvr:PersistCookieAcrossSessions" value="true" />

    <add key="IdSvr:EnableHttpLogging" value="false" />
    <add key="IdSvr:EnableWebApiDiagnostics" value="false" />
    <add key="IdSvr:EnableKatanaLogging" value="true" />
    <add key="IdSvr:WebApiDiagnosticsIsVerbose" value="false" />
    <add key="IdSvr:RaiseErrorEvents" value="true" />
    <add key="IdSvr:RaiseFailureEvents" value="true" />
    <add key="IdSvr:RaiseInformationEvents" value="false" />
    <add key="IdSvr:RaiseSuccessEvents" value="true" />
    <add key="IdSvr:Thumbprint" value="[Your Certificate thumbprint here]" />
    <add key="IdSvr:CacheConnection" value="[Your Azure Redis cache connection string]" />
    
    <add key="Api1:AllowedScopes" value="sampleApi" />

    <add key="App1:RedirectUri" value="[App1 Uri here]" />                      <!--this has to match oidc:RedirectUri in app 1's config-->
    <add key="App2:RedirectUri" value="[App2 Uri here]" />                      <!--this has to match oidc:RedirectUri in app 2's config-->
    <add key="IdSvr:RedirectUri" value="[Auth Proxy Uri (this site) here]" />   <!--this is the AuthProxy Uri + "/identity" for OIDC root endpoint-->

    <!-- Auth0 Provider specific -->
    <add key="Auth0:AuthType" value="Auth0" />
    <add key="Auth0:Caption" value="Auth0" />
    <add key="Auth0:Authority" value="https://lit-poc.eu.auth0.com/" />
    <add key="Auth0:ClientId" value="[Auth0 Client Id here]" />
    <add key="Auth0:ClientSecret" value="[Auth0 Client Secret here]" />

  </appSettings>

  <log4net debug="true">
    <!--Azure Table Appender-->
    <appender name="IdSvrAzureTableAppender" type="log4net.Appender.AzureAsync.AzureTableAppender, log4net.Appender.Azureasync">
      <bufferSize value="1" />
      <param name="TableName" value="TestLoggingIdSvr" />
      <param name="ConnectionStringName" value="IdSvr:StorageConnection" />
      <param name="PropAsColumn" value="true" />
      <param name="PartitionKeyType" value="DateReverse" />
    </appender>

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:/Logs/Log4NetAzureTableStorage/log-debug.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="IdSvrAzureTableAppender" />
      <appender-ref ref="RollingFileAppender" />
    </root>

  </log4net>
  
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Trace.log" />
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Logs\Log4Net\IdentityServer_log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>

  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>

  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>

  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
